{% extends 'back/base.backend.html' %}
<title>
  {% if is_view %}View Prediction{% elif is_edit %}Edit Prediction{% else %}Add New Prediction{% endif %}
</title>

{% block main_content %}
{% load custom_tags %}
<div class="row gy-4">
  <div class="col-xl-9 col-lg-8 col-md-12 col-12">
    <!-- Card -->
    <div class="card border-0">
      <!-- Card header -->
      <div class="card-header">
        <h4 class="mb-0">{% if is_view %}View Prediction{% elif is_edit %}Edit Prediction{% else %}Add New Avis{% endif %}</h4>
      </div>
      <form method="POST" action="{% if is_edit and prediction.id %}{% url 'edit_prediction' prediction.id %}{% else %}{% url 'add_activite' %}{% endif %}" novalidate class="needs-validation" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Card body -->
        <div class="card-body">
          {% for field in form %}
            <div class="mb-3">
              {{ field.label_tag }}
              {{ field|add_class:"form-control text-dark" }} <!-- Apply the desired classes -->
              
              <!-- Display field-specific validation errors -->
              {% if field.errors %}
                <div class="text-danger">
                  {% for error in field.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              
              <!-- HTML5 required attribute for validation -->
              {% if not is_view %}
                <script>
                  document.querySelector('[name="{{ field.name }}"]').setAttribute('required', 'required');
                </script>
              {% endif %}
            </div>
          {% endfor %}
          
          <!-- Display general non-field errors -->
          {% if form.non_field_errors %}
            <div class="text-danger">
              {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          
          {% if not is_view %}
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">
              {% if is_edit %}Update Prediction{% else %}Save{% endif %}
            </button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  
  <div class="col-xl-3 col-lg-4 col-md-12 col-12">
    <div class="d-flex flex-column gap-4">
      <!-- Card for additional info -->
      <div class="card">
        <!-- Card Header -->
        <div class="card-header d-lg-flex">
          <h4 class="mb-0">Prediction Info</h4>
        </div>
        <!-- List Group -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="text-body">Prediction ID</span>
            <h5 class="mb-0">{{ prediction.id }}</h5>
          </li>
          <li class="list-group-item">
            <span class="text-body">Status</span>
            <h5 class="mb-0">
              <span class="badge-dot bg-success d-inline-block me-1"></span>
              {% if is_edit %}Editing{% else %}New{% endif %}
            </h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <a href="{% url 'list_all_activites' %}" class="btn btn-outline-secondary mt-3">Back to Predictions List</a> -->

{% endblock %}
